
.Sidebar{
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:rgb(66, 64, 64);
    padding: 25px;
}
.Sidebar img{
    width: 20px;
}
.Sidebar .menu{
    display: block;
    margin-left: 10px;

    border-radius: 8px;
    cursor: pointer;
}
.Sidebar:hover {
    /* background-color: #b1f2b3;  */
    /* background-color:  rgb(166, 246, 248); */
    color: white; 
  }
  .sidebar.active {
    background-color: #b5f6b7; 
    color: white; 
    border: 2px solid #4CAF50; 
  }  
  .menu:hover {
    background-color: black; 
    border: 4px solid black;
    color: white; 
  }
  .menu.active {
    background-color: rgb(247, 209, 185); 
    /* border: 2px solid rgb(254, 102, 7);  */
    
    color: white;
  }  


  
.Sidebar .new_chat{
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color:  rgb(166, 246, 248);
    border-radius: 50px;
    font-size: 14px;
    color: black;
    cursor: pointer;
}
.Sidebar .new_chat:hover{
    background-color:  rgb(166, 246, 248);
}
.Sidebar .recent{
    display: flex;
    flex-direction: column;

}
.Sidebar .Recent_title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.Sidebar .recent_entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 7px;
    padding-right: 40px;
    cursor: pointer;
    color: white;
    border-radius: 50px;
    /* background-color:  rgb(75, 205, 207); */

}
.Sidebar .recent_entry:hover{
    /* background-color: #55ef44; */
    background-color:  black;

}
.Sidebar .bottom{
    display: flex;
    flex-direction: column;

}
.Sidebar .bottom_item{
    padding-right: 10px;
    cursor: pointer;
}